body {
  font-family: "Open Sans", sans-serif;
  background: #2b2b2b;
  margin: 0; padding: 0;
}

#titlebar {
  color:#ffffff;
  top: 0; left: 0; right: 0;
  border-bottom: 1px solid #1f1f1f;
  background: #353535;
  height: 30px;
  padding:0px;
}

#titlebar #title {
  position:absolute;
  padding: 00px;
  margin: 0px;
  width:80px;
  height:55px;

}

#titlebar span.space {
  position:relative;
  width: 100px;
}

#titlebar #tools {
  margin-top:0px;
  margin-left:70px;
}

#titlebar #tools .custom-marker {
   border-width: 0px;
   border-style:none;
   border-color: transparent;
   -moz-border-radius: 35px;
   border-radius: 35px;
}

#titlebar #tools #markers {
  margin:0px;
  padding:5px;
  /*position:absolute;
  width:400px;
  height:30px;
  background-color: #000;
  overflow:auto;
  white-space:nowrap;*/
}

#tools .tool1 {
  position:relative;

}
#tools .tool2 {
  position:relative;

}
#tools .tool3 {
  position:relative;

}

.flip {
  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
